table {
    margin: 0px;
    border-collapse: collapse;
}
section {
    border: 1px solid #08ADD5;
    width: fit-content;
}
div {
    width: fit-content; /* per ajustar el text al contingut */
    margin: 0px;
    border: 4px outset ;
    box-sizing: border-box;

}
th {
    background-color: #083C10;
    color: #C9FFD1;
    border: 2px outset #08ADD5;
    padding: 4px;
}
td {
    border: 2px outset #08ADD5;
    padding: 1px;
    text-align: left; /* Alineación del texto a la izquierda */
    font-weight: bold; /* Para que sea en negrita */
    font-size: small;
    background-color: #C9FFD1;
}
.dinero {
    text-align: center;
}
.difcolor {
    background-color: #73B07D;
}
.wider-column {
    width: 185px;
}