body {
    /* background-color: aqua; */
    background-image: url(../images/ac.jpg);
}

.caja {
    width: 200px;
    height: 200px;
    border: 2px black solid;
    background-color: aliceblue;
    margin: 20px;
    float: left;
    text-align: center;
    line-height: 70px; /*para ajustar el texto verticalmente*/
}

.modA {
    background-image: url(../images/back_mantel.jpg);
}
.modB {
    background-image: url(../images/back_mantel.jpg);
    background-clip: content-box;
    padding: 30px;
    width: 150px;
    height: 140px;
    text-align: center;
    line-height: 11px;
}
.modC {
    background-image: url(../images/back_mantel.jpg);
    background-size: 100% 100%;
}
.modD {
    background-image: url(../images/back_mantel.jpg);
    background-repeat: no-repeat;
    background-size: 75% 75%;
    background-origin: content-box;
    background-position: center;
}
.modE {
    background-image: url(../images/dh.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.modF {
    background-image: url(../images/dh.jpg);
    background-repeat: no-repeat;
    background-size: 75% 75%;
    background-origin: content-box;
    background-position: center;
}
.modG {
    background-image: url(../images/dh_2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.modH {
    background-image: url(../images/dh_3.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.modI {
    background: linear-gradient(to right, #d2ff52 0%, #566647 100%);
}
.modJ {
    background: linear-gradient(to bottom, rgba(240,183,161,1)
    0%,rgba(140,51,16,1) 80%,rgba(117,34,1,1) 51%,rgba(191,110,78,1)
    100%);
}
.modK {
    background: linear-gradient(to top, rgba(50,116,45,1) 0%, rgba(239,239,210,1) 100%);
}
.modL {
    background: linear-gradient(to top, rgba(50,116,45,1) 0%, transparent 100%);
}
